@import "scss/_variables.scss";
@import "scss/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font-family;
}

#header {
  position: relative;
  background: white;
  display: flex;
  padding: $padding-md;
  box-shadow: 0 0 8px #0000008c;

  #bar {
    display: none;
    margin: auto;
    margin-right: 15px;
    cursor:pointer;
    @include media-phone {
      display: block;
    }
  }

  #side-navbar {
    display: block;
    background: $primary-color;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 45px 0;
    .nav-item {
      padding: $padding-sm;
      color: white;
      transition: background-color 0.15s ease-in, color 0.15s ease-in;
      &:hover {
        background-color: $tertiary-color;
        color: $primary-color;
      }

      i {
        margin-right: 10px;
      }
      span {
        @include media-tablet {
          display: none;
        }
        @include media-phone {
          display: inline-block;
        }
      }
    }
    @include media-tablet{
      display:block;
    }

    @include media-phone {
      display: none;
      width: 100%;
      background: linear-gradient(125deg, #153d53 50%, transparent);
    }
  }

  #title {
    margin: 0 auto;
    font-weight: bold;
    background: $secondary-color;
    color: white;
    padding: 5px;
    border-left: 10px solid $primary-color;
  }
}

#container {
  display: block;
  background: #f5f5f573;

  #news-container {
    max-width: $max-contentWidth;
    margin: 0 auto;
    display: grid;
    grid-row-gap: $padding-lg;
    padding: $padding-lg 0;

    .news-post {
      display: grid;
      grid-row-gap: 10px;
      width: 60vw;
      min-width: 360px;
      margin: 0 auto;
      padding: 25px;
      background: white;
      box-shadow: 0 0 20px 8px #00000026;

      @include media-phone-sm {
        padding: 10px;
        width: 100%;
        min-width: 320px;
      }
      .author-date-container {
        font-size: 14px;
        color: grey;

        .author-name,
        .news-post-date {
          font-family: $secondary-font-family;
          text-transform: uppercase;
        }
      }

      .news-description {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .news-thumbnail {
          width: 290px;
          flex-basis: 44%;
          @include media-desktop {
            flex-basis: 100%;
          }
        }
        .news-in-detail {
          min-width: 300px;
          flex-basis: 54%;
          @include media-desktop {
            flex-basis: 100%;
            margin-top: 10px;
          }
        }
      }

      .read-more-link {
        margin: 0 auto;
        margin-top: 10px;
        font-family: $secondary-font-family;
        color: $secondary-color;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

#footer {
  position: relative;
  background: $primary-color;
  #footer-container {
    padding: 30px 0;
    max-width: $max-contentWidth - 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .footer-description {
      .footer-nav {
        .footer-link {
          color: rgba(255, 255, 255, 0.801);
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .footer-copyright {
        color: white;
        margin-top: 20px;
      }
    }
  }
}

a {
  text-decoration: none;
  color: black;
  display: block;
}
