$primary-font-family: 'Nunito', sans-serif;
$secondary-font-family: 'Barlow Condensed', sans-serif;
//colors
$primary-color:#153d53;
$secondary-color:#0f9197;
$tertiary-color:#78CCAE;
$extra-color: #E9EBED;

//padding, margin
$padding-sm:20px;
$padding-md:30px;
$padding-lg:60px;

//content width
$max-contentWidth : 1100px;